@page "/"
@page "/conection"
@using BlazorApp1.Data
@inject BlazorApp1.Services.SetService setService

<h3>Conection</h3>

<div class="container">
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">CLIENT ID</span>
                    <input @bind="entry.MQTT_CLIENT_ID" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="col-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">BROKER</span>
                    <input @bind="entry.MQTT_BROKER" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="col-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">USER</span>
                    <input @bind="entry.MQTT_USER" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="col-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">PASSWORD</span>
                    <input @bind="entry.MQTT_PASSWORD" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="input-group mb-3">
                    <button class="btn btn-primary" @onclick="@Connection">
                        Conect
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            @if (conectedServer)
            {
                <div class="alert alert-success" role="alert"> Conected </div>
            }
            @if (!conectedServer)
            {
                <div class="alert alert-danger" role="alert"> Not Conected </div>
            }
        </div>
    </div>
</div>

@code {
    DataSet entry = new DataSet();
    bool conectedServer = false;

    protected async void Connection()
    {
        conectedServer = (conectedServer) ? false : true;
    }

    /*
    private void validateForm()
    {
        conectedServer = (
            (entry.MQTT_CLIENT_ID == String.Empty) ||
            (String.IsNullOrWhiteSpace(entry.MQTT_CLIENT_ID)) ||
            (entry.MQTT_BROKER == String.Empty) ||
            (String.IsNullOrWhiteSpace(entry.MQTT_BROKER)) ||
            (entry.MQTT_USER == String.Empty) ||
            (String.IsNullOrWhiteSpace(entry.MQTT_USER)) ||
            (entry.MQTT_PASSWORD == String.Empty) ||
            (String.IsNullOrWhiteSpace(entry.MQTT_PASSWORD)))
            ? true : false;
    }
    */

}
